body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(images/color-bg.jpeg);
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 15px 20px;
    position: relative;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #ff5733;
    margin-left: 20px;
}

.logo span {
    color: #33aaff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    position: relative;
    
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 8px 19px;
    font-family: sans-serif;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .dropdown-menu {
    display: block;

}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #ffcc00;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}
h1 {
    color: #000000;
    margin-top: 60px;
    font-family: 'buublegum sans';
    font-size: 45px;
}
.color-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 90px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
.color-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.color-box:hover {
    transform: scale(1.1);
}